button,
.Button {
  @apply
    bg-blue-500
    text-blue-100
    border-blue-300
    inline-block
    text-xs
    cursor-pointer
    rounded
    transition
    duration-200
    ease-in-out
    mb-1 uppercase
    font-semibold
    px-3
    py-1 ml-2;
}

button:disabled,
.Button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

button:first-of-type,
.Button:first-of-type {
  @apply ml-0;
}

button:not([disabled]):hover,
.Button:not([disabled]):hover {
  @apply bg-blue-300 text-blue-600 shadow-md;
}

.Button--danger {
  @apply bg-red-500 text-red-100 border-red-300;
}

.Button--danger:not([disabled]):hover {
  @apply bg-red-300 text-red-600 border-red-500;
}

.Button--success {
  @apply bg-green-500 text-green-100 border-green-300;
}

.Button--success:not([disabled]):hover {
  @apply bg-green-300 text-green-600 border-green-500;
}

.Button--secondary {
  @apply bg-gray-400 text-gray-600;
}

.Button--secondary:not([disabled]):hover {
  @apply bg-gray-300 text-gray-600;
}
