button,
.Button {
  background-color: #dde3ea;
  border: 1px solid #b1c0d2;
  border-radius: 4px;
  font-size: 0.8rem;
  color: rgb(0, 38, 82);
  padding: 0.3em 0.8em;
  cursor: pointer;
  transition: all 120ms ease-in-out;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 0.5em;
  display: inline-block;
}

button:first-of-type,
.Button:first-of-type {
  margin-left: 0;
}

button:hover,
.Button:hover {
  background-color: #a9cdf0;
}

.Button--danger {
  background-color: #ffaaaa;
  color: #950000;
  border-color: #c84545;
}

.Button--danger:hover {
  background-color: #c90909;
  color: #f7caca;
  border-color: #6d0909;
}

.Button--success {
  background-color: #cfff78;
  color: #046904;
  border-color: #309430;
}

.Button--success:hover {
  background-color: #cfff78;
  color: #046904;
  border-color: #309430;
}