$maxWidth: 1200px;

.u-maxWidth {
  padding: 0 20px;
  max-width: calc(#{$maxWidth} - 40px);
  margin-left: auto;
  margin-right: auto;
}

$buttonColor: rgb(90, 231, 34);
$buttonColorSecondary: rgb(231, 64, 34);

body {
  font-family: 'Roboto', sans-serif;
}

.u-flex {
  display: flex;
  justify-content: space-between;
}

.u-flex-50 {
  width: 48%;
}

.u-flex-40 {
  width: 38%;
}

.u-flex-30 {
  width: 28%;
}

.u-flex-20 {
  width: 18%;
}

.u-flex-grow {
  flex-grow: 1;
}
