// Layout helpers

.u-maxWidth {
  padding: 0 20px;
  max-width: calc(#{$maxWidth} - 40px);
  margin-left: auto;
  margin-right: auto;
}

.u-flex {
  display: flex;
  justify-content: space-between;
}

.u-direction-colum {
  flex-direction: column;
}

.u-flex-50 {
  width: 48%;
}

.u-flex-40 {
  width: 38%;
}

.u-flex-30 {
  width: 28%;
}

.u-flex-20 {
  width: 18%;
}

.u-flex-grow {
  flex-grow: 1;
}

// Scrollbox helpers

.u-scrollBoxParent {
  width: 100%;
  height: calc(100vh - 200px); // Overwrite this to fit correct height
  overflow: hidden;
  position: relative;
}

.u-scrollBoxChild {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -14px; /* Increase/Decrease this value for cross-browser compatibility */
  overflow-y: scroll;
}

// Typography helpers

.u-bold {
  font-weight: 700;
}

.u-light {
  font-weight: 100;
}