.u-columns-2 {
  @apply grid grid-cols-2 gap-4 mb-2;
}

.u-columns-3 {
  @apply grid grid-cols-3 gap-4 mb-2;
}

.u-columns-4 {
  @apply grid grid-cols-4 gap-4 mb-2;
}

.u-columns-5 {
  @apply grid grid-cols-5 gap-4 mb-2;
}

.u-columns-6 {
  @apply grid grid-cols-6 gap-4 mb-2;
}

.u-container-fluid {
  @apply w-full px-4 mx-auto max-w-screen-xl;
}

.u-scrollBoxParent {
  width: 100%;
  height: calc(100vh - 180px); // Overwrite this to fit correct height
  overflow: hidden;
  position: relative;
}

.u-scrollBoxChild {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -15px; /* Increase/Decrease this value for cross-browser compatibility */
  overflow-y: scroll;
}

.u-tip {
  @apply font-light inline-block p-4 text-gray-500;
}
