// Colors
$color-black: #121212;
$color-white: #FFFFFF;

$color-1: #69DDFF;
$color-2: #FF6969;
$color-3: #DDE3EA;

$color-4: #F5F5F5;
$color-5: #D8D8D8;
$color-6: #83858C;
$color-7: #e1e1e1;

// Sizes
$maxWidth: 1200px;
